<h1><%= t "views.title.reset_password" %></h1>
<p><%= "mailer.user.pass_reset.content1" %></p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= "mailer.user.pass_reset.content2" %></p>
