<li>
  <%= gravatar_for user, size: Setting.size_50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to t("views.index.delete"), user, method: :delete, data: {confirm: t("views.index.are_you_sure")} %>
  <% end %>
</li>
