<% provide(:title, t("views.new.signup")) %>
<% provide(:button_text, t("views.new.signup")) %>
<h1><%= t("views.new.signup") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
