<%= link_to gravatar_for(current_user, size: Settings.size_50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("views.shared.user_info.view_my_profile"), current_user %></span>
<span><%= pluralize current_user.microposts.count, t("views.shared.user_info.micropost") %></span>
